{% extends 'prog/prog.html' %}
{% block page_content %}
{% load static %}

  <h3>
    Таблицы адаптивных программ
  </h3>

  <img src="{% static 'img/prog/passport/adaptive_program_tables.png' %}" class="img-fluid">

  <p>
    Сокращенное описание работы адаптивного режима.
  </p>

  <p>
    &nbsp;&nbsp;<span class="text-info">Детекторы вызова</span> - Условия или детекторы при активации которых происходит вызов фазы.<br>
    &nbsp;&nbsp;<span class="text-info">Детекторы продления</span> - Условия или детекторы при активации которых происходит продление фазы.<br>
    &nbsp;&nbsp;<span class="text-info">Детекторы завершения</span> - Условия или детекторы при активации которых происходит завершение продления.<br>
    &nbsp;&nbsp;<span class="text-info">Тосн</span> - Дублирует время фазы в фиксированном режиме (необязательное поле).<br>
  </p>
  
  <p>
    &nbsp;&nbsp;<span class="text-info">Тмин</span> - Минимальное, гарантированное время фазы.<br>
    &nbsp;&nbsp;<span class="text-info">Тмакс1</span> - Максимальное время фазы, до которого возможно продление.<br>
    &nbsp;&nbsp;<span class="text-info">Тмакс2</span> - Второе максимальное время фазы, до которого возможно продление, может применяться например, для общественного транспорта.<br>
  </p>

{% endblock %}