.sidebar {
  background: var(--gray-900);
  width: 100%;
  max-width: 252px;
  padding: 8px;
  display: flex;
  flex-direction: column;
  border-right: px solid var(--gray-990);
  flex-shrink: 0;
}

.sidebar__list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.sidebar__item {
  margin-bottom: 2px;
  font-size: 14px;
  font-weight: 500;
  color: var(--gray-300);
  cursor: pointer;
  border-radius: 2px;
  transition: background 0.2s ease;

  &:hover {
    background: var(--blue1);
  }
}

.sidebar__item--active {
  background-color: var(--gray-600);
  color: var(--gray-990);
}
